<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>

<!-- Outros JS necessários -->
<script src="{{ url_for('static', filename='assets/js/jquery-3.7.1.min.js') }}"></script>

<!-- Bootstrap Bundle Js -->
<script src="{{ url_for('static', filename='assets/js/boostrap.bundle.min.js') }}"></script>

<!-- Phosphor Js -->
<script src="{{ url_for('static', filename='assets/js/phosphor-icon.js') }}"></script>

<!-- file upload -->
<script src="{{ url_for('static', filename='assets/js/file-upload.js') }}"></script>

<!-- dataTables -->
<script src="{{ url_for('static', filename='https://cdn.datatables.net/2.0.8/js/dataTables.min.js') }}"></script>

<!-- main js -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<!-- sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
