<div class="top-navbar flex-between gap-16">
  <div class="flex-align gap-16">
    <!-- Toggle Button Start -->
    <button type="button" class="toggle-btn d-xl-none d-flex text-26 text-gray-500"><i class="ph ph-list"></i></button>
    <!-- Toggle Button End -->

    <img src="{{ url_for('static', filename='assets/images/logo/logo-r.png') }}" width="120px">
  </div>

  <div class="flex-align gap-16">
    <div class="flex-align gap-8">
      <!-- Notification Start -->
      <div class="dropdown">
        <!-- <button class="dropdown-btn shaking-animation text-gray-500 w-40 h-40 bg-main-50 hover-bg-main-100 transition-2 rounded-circle text-xl flex-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="position-relative">
            <i class="ph ph-bell"></i>
            <span class="alarm-notify position-absolute end-0"></span>
          </span>
        </button> -->
        <div class="dropdown-menu dropdown-menu--lg border-0 bg-transparent p-0">
          <div class="card border border-gray-100 rounded-12 box-shadow-custom p-0 overflow-hidden">
            <div class="card-body p-0">
              <div class="py-8 px-24 bg-main-600">
                <div class="flex-between">
                  <h5 class="text-xl fw-semibold text-white mb-0">Notificações</h5>
                  <div class="flex-align gap-12">

                    <button type="button" class="close-dropdown hover-scale-1 text-xl text-white"><i class="ph ph-x"></i></button>
                  </div>
                </div>
              </div>
              <div class="p-24 max-h-270 overflow-y-auto scroll-sm">

                <div class="d-flex align-items-start gap-12">
                  <span class="text-main-600 bg-main-50 w-44 h-44 rounded-circle flex-center text-xl flex-shrink-0 monograma">DO</span>
                  <div class="">
                    <a href="#" class="fw-medium text-15 mb-0 text-gray-300 hover-text-main-600 text-line-2">Diario Oficial possui uma nova publicação</a>
                    <span class="text-gray-200 text-13">2 min atrás</span>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <button class="text-gray-500 w-40 h-40 bg-main-50 hover-bg-main-100 transition-2 rounded-circle text-xl flex-center" type="button" onclick="logout()">
        <i class="ph ph-sign-out"></i>
      </button>

      <script>
        function logout() {

          // Realiza o logout via AJAX
          // $.ajax({
          //   url: 'assets/ajax/login.php',
          //   method: 'POST',
          //   data: {
          //     option: 'sair'
          //   },
          //   success: function() {
              window.location.href = "login"; // Redireciona para a página de login após destruir a sessão
          //   },
          //   error: function() {
          //     Swal.fire("Erro!", "Falha ao realizar o logout.", "error");
          //   }
          // });
        }
      </script>
      <!-- Notification Start -->
    </div>
  </div>
</div>