<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'includes/head.html' %}
</head>
<body>
  <div class="preloader" style="display: none;">
    <div class="loader"></div>
  </div>
  <div class="side-overlay"></div>
  <section class="auth d-flex flex-column flex-md-row">
    <div class="auth-left d-flex flex-column align-items-center justify-content-center p-24 w-100">
      <img src="{{ url_for('static', filename='assets/images/logo/logo-r.png') }}" alt="" class="mb-4">
    </div>
    <div class="auth-right py-40 px-24 flex-center flex-column w-100">
      <div class="auth-right__inner mx-auto w-100">
        <form id="loginForm">
          <div class="mb-24">
            <label for="fname" class="form-label mb-8 h6">Usuário</label>
            <div class="position-relative">
              <input type="text" class="form-control py-11 ps-40" id="fname" placeholder="Usuário" onkeyup="ocultarAviso()">
              <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i class="ph ph-user"></i></span>
            </div>
            <small style="color: red; display: none;" id="error_usuario"></small>
          </div>
          <div class="mb-24">
            <label for="current-password" class="form-label mb-8 h6">Senha</label>
            <div class="position-relative">
              <input type="password" class="form-control py-11 ps-40" id="current-password" placeholder="Senha" onkeyup="ocultarAviso()">
              <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash"></span>
              <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i class="ph ph-lock"></i></span>
            </div>
            <small style="color: red; display: none;" id="error_senha"></small>
          </div>
          <button type="button" class="btn btn-main rounded-pill w-100" onclick="logar()">Entrar</button>
          <p class="mt-16 text-center">Não tem conta? <a href="{{ url_for('register') }}">Registrar</a></p>
          <p class="mt-16 text-center"><a href="{{ url_for('recuperar_senha') }}" class="text-main">Esqueceu a senha?</a></p>
        </form>
      </div>
    </div>
  </section>
  {% include 'includes/bibliotecas.html' %}
  <script>
    
    function logar() {
      let usuario = $('#fname').val();
      let senha = $('#current-password').val();
      if (usuario === '') {
        $('#fname').focus();
        $('#error_usuario').html('Preencha o campo usuário').show();
        return;
      } else if (senha === '') {
        $('#current-password').focus();
        $('#error_senha').html('Preencha o campo senha').show();
        return;
      }
      $.ajax({
        url: "/login",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({ usuario: usuario, senha: senha }),
        dataType: "json",
        success: function (data) {
          if (data.status === "success") {
            window.location.href = data.redirect;
          } else {
            Swal.fire({ icon: 'error', title: 'Erro', text: data.message });
            $('#fname, #current-password').val('');
          }
        },
        error: function () {
          Swal.fire({ icon: 'error', title: 'Erro', text: 'Erro na requisição.' });
          $('#fname, #current-password').val('');
        }
      });
    }
    function ocultarAviso() {
      $('#error_usuario, #error_senha').hide();
    }
    $(document).ready(function () {
      $(".toggle-password").click(function () {
        let passwordField = $("#current-password");
        if (passwordField.attr("type") === "password") {
          passwordField.attr("type", "text");
          $(this).removeClass("ph-eye-slash").addClass("ph-eye");
        } else {
          passwordField.attr("type", "password");
          $(this).removeClass("ph-eye").addClass("ph-eye-slash");
        }
      });
    });
  </script>
</body>
</html>
