<!-- header.php contém o topbar e o infogov_aside -->
{% include 'includes/header.html' %}

<div class="card">
  <div class="card-body p-lg-20 p-sm-3">
    <div class="flex-between flex-wrap gap-12 mb-20 border-bottom border-gray-100 pb-24">

      <div class="flex-between flex-wrap gap-16">
        <a href="/home" class="text-gray-900 hover-text-main-600"><i class="ph ph-caret-left"></i></a>
        <div>
          <h3 class="mb-4">Resolução de 7 de novembro de 2024</h3>
          <p class="text-gray-600 text-15">Publicado na Edição de 20 de Janeiro de 2025 | Caderno Executivo | Seção Atos Normativos</p>
        </div>
      </div>
      <div class="flex-align flex-wrap gap-24">
        <span class="py-6 px-16 bg-main-50 text-main-600 rounded-pill text-15">Diário Oficial</span>
        <div class=" share-social position-relative">
          <button type="button" class="share-social__button text-gray-200 text-26 d-flex hover-text-main-600"><i class="ph ph-share-network"></i></button>

        </div>
      </div>
    </div>

    <div class="mt-24">
      <div>
        <h5 class="mb-12 fw-bold">Descrição</h5>
        <p class="text-gray-300 text-15 mb-8">O SECRETÁRIO EXECUTIVO, RESPONDENDO PELO EXPEDIENTE DA CASA CIVIL, com fundamento no artigo 4º do Decreto nº 29.838, de 18 de abril de 1989, DESIGNA, a contar de 29 de outubro de 2024, os servidores a seguir indicados, para compor uma equipe de trabalho que irá proceder à identificação e avaliação dos documentos, sob a orientação da Comissão de Avaliação de Documentos e Acesso - CADA, da Casa Civil:</p>
        <p class="text-gray-300 text-15 mb-8"> I - Cátia Cristina Prazeres Marcelino, RG 21.680.006-7;</p>
        <p class="text-gray-300 text-15 mb-8">II - Claudiane Gonçalves, RG 11.830.664-9;</p>
        <p class="text-gray-300 text-15 mb-8">III - Fátima D'Auria, RG 8.532.570-3;</p>
        <p class="text-gray-300 text-15 mb-8">IV - Jucinéia de Araújo Ferreira, RG 21.331.967-6;</p>
        <p class="text-gray-300 text-15 mb-8">V - Luiz Carlos de Carvalho Silva, RG 15.339.387-7;</p>
        <p class="text-gray-300 text-15 mb-8">VI - Manoel Cerqueira da Silva, RG 63.227.099-8;</p>
        <p class="text-gray-300 text-15 mb-8">VII - Maria de Fátima Souza de Oliveira, RG 6.069.342-3;</p>
        <p class="text-gray-300 text-15 mb-8">VIII - Maria Santina Colombo, RG 17.043.743-7;</p>
        <p class="text-gray-300 text-15 mb-8">IX - Rodrigo Cesar dos Santos Clemente, RG 35.036.413-8;</p>
        <p class="text-gray-300 text-15 mb-8">X - Rosângela Aparecida Pratis , RG 17.478.011-4;</p>
        <p class="text-gray-300 text-15 mb-8">XI - Rosemar Luiz da Rosa Lopes, RG 14.551.617-9;</p>
        <p class="text-gray-300 text-15 mb-8">XII - Silvia de Souza Ferreira, RG 8.536.124-0;</p>
        <p class="text-gray-300 text-15 mb-8">XIII - Silvia Regina Teixeira, RG 21.614.787-6;</p>
        <p class="text-gray-300 text-15 mb-8">XIV - Valdecina Moreira da Silva Rubio, RG 10.293.817-9.</p>
        <p class="text-gray-300 text-15 mb-8">(Publicado novamente por ter saído com incorreções)</p>

      </div>
    </div>
  </div>
</div>

{% include 'includes/footer.html' %}